@import "tailwindcss";

@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "black";
    default: true;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(0% 0 0);
    --color-base-200: oklch(19% 0 0);
    --color-base-300: oklch(22% 0 0);
    --color-base-content: oklch(75.609% 0 0);
    --color-primary: oklch(70% 0.162 75.834);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(35% 0 0);
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: oklch(35% 0 0);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(35% 0 0);
    --color-neutral-content: oklch(100% 0 0);
    --color-info: oklch(71% 0.143 215.221);
    --color-info-content: oklch(30% 0.056 229.695);
    --color-success: oklch(51.975% 0.176 142.495);
    --color-success-content: oklch(90.395% 0.035 142.495);
    --color-warning: oklch(87% 0.169 91.605);
    --color-warning-content: oklch(19.359% 0.042 109.769);
    --color-error: oklch(57% 0.245 27.325);
    --color-error-content: oklch(88% 0.062 18.334);
    --radius-selector: 0rem;
    --radius-field: 0rem;
    --radius-box: 0rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.post-content h1 {
    @apply text-3xl font-bold mt-8 mb-4 text-primary;
}
.post-content h2 {
    @apply text-2xl font-bold mt-8 mb-3 text-primary;
}
.post-content h3 {
    @apply text-2xl font-semibold mt-6 mb-2 text-primary;
}
.post-content h4 {
    @apply text-xl font-semibold mt-5 mb-2 text-primary;
}
.post-content p {
    @apply my-2 text-justify;
}
.post-content > pre {
    @apply mockup-code w-full my-4 bg-[#1a1b26];
}
.post-content > pre > code {
    @apply ml-6;
}
.post-content code {
    @apply bg-base-300 text-white/80 py-[2px] px-1;
}
.post-content > blockquote {
    @apply border-l-4 border-primary bg-base-200 p-4 my-4 italic;
}
.post-content a {
    @apply text-primary hover:underline;
}
.post-content img {
    @apply max-w-full h-auto my-4 rounded;
}
.post-content ul {
    @apply list-disc pl-5 my-4;
}
.post-content ol {
    @apply list-decimal pl-5 my-2;
}
.post-content table {
    @apply table my-6;
}
.post-content table thead {
    @apply text-white/90;
}
